.cardsContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 50px;
    /* margin: 20px auto; */
    margin: 0 auto;
    /* margin-left: 20px;
    margin-right: 20px; */
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100vw;
    /* padding: 20px;
     */
}